In [1]:
import pandas as pd

In [13]:
df1 = pd.read_csv('whitney_sleep_data.csv')
df2 = pd.read_csv('whitney_sleep_data_2.csv')
df3 = pd.read_csv('whitney_sleep_data_3.csv')
df4 = pd.read_csv('whitney_sleep_data_4.csv')

In [14]:
combined_df = pd.concat([df1, df2, df3, df4], axis=0)

combined_df.reset_index(drop=True, inplace=True)

In [17]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               400 non-null    int64
 1   date                     400 non-null    object
 2   duration_ms              400 non-null    int64
 3   efficiency               400 non-null    int64
 4   start_time               400 non-null    object
 5   end_time                 400 non-null    object
 6   time_in_bed              400 non-null    int64
 7   minutes_asleep           400 non-null    int64
 8   minutesToFallAsleep      400 non-null    int64
 9   minutes_awake            400 non-null    int64
 10  log_id                   400 non-null    int64
 11  info_code                400 non-null    int64
 12  IsMainSleep              400 non-null    bool
 13  deep_sleep_count         368 non-null    float64
 14  deep_sleep_minutes       368 non-null    float64
 15  deep_sleep_30dayAvgMin   368 non-null    float64
 16  light_sleep_count        368 non-null    float64
 17  light_sleep_minutes      368 non-null    float64
 18  light_sleep_30dayAvgMin  368 non-null    float64
 19  rem_sleep_count          368 non-null    float64
 20  rem_sleep_minutes        368 non-null    float64
 21  rem_sleep_30dayAvgMin    368 non-null    float64
 22  wake_count               368 non-null    float64
 23  wake_minutes             368 non-null    float64
 24  wake_30dayAvgMin         368 non-null    float64
dtypes: bool(1), float64(12), int64(9), object(3)
memory usage: 75.5+ KB

In [8]:
df_nulls = df[df['deep_sleep_minutes'].isnull()]

In [9]:
df_nulls.head()

,Unnamed: 0,date,duration_ms,efficiency,start_time,end_time,time_in_bed,minutes_asleep,minutesToFallAsleep,minutes_awake,...,deep_sleep_30dayAvgMin,light_sleep_count,light_sleep_minutes,light_sleep_30dayAvgMin,rem_sleep_count,rem_sleep_minutes,rem_sleep_30dayAvgMin,wake_count,wake_minutes,wake_30dayAvgMin
19,19,2023-03-11,3600000,92,2023-03-11T14:24:00.000,2023-03-11T15:24:00.000,60,55,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,2023-03-17,5520000,95,2023-03-17T14:08:00.000,2023-03-17T15:40:00.000,92,87,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,2023-03-19,10560000,97,2023-03-18T22:51:00.000,2023-03-19T01:47:30.000,176,170,0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,30,2023-03-19,7920000,83,2023-03-19T13:48:00.000,2023-03-19T16:00:00.000,132,110,0,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,58,2023-04-15,3600000,95,2023-04-15T13:09:00.000,2023-04-15T14:09:00.000,60,57,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_nulls['info_code']

19    2
26    2
28    2
30    2
58    2
86    2
88    2
90    2
Name: info_code, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               100 non-null    int64
 1   date                     100 non-null    object
 2   duration_ms              100 non-null    int64
 3   efficiency               100 non-null    int64
 4   start_time               100 non-null    object
 5   end_time                 100 non-null    object
 6   time_in_bed              100 non-null    int64
 7   minutes_asleep           100 non-null    int64
 8   minutesToFallAsleep      100 non-null    int64
 9   minutes_awake            100 non-null    int64
 10  log_id                   100 non-null    int64
 11  info_code                100 non-null    int64
 12  IsMainSleep              100 non-null    bool
 13  deep_sleep_count         92 non-null     float64
 14  deep_sleep_minutes       92 non-null     float64
 15  deep_sleep_30dayAvgMin   92 non-null     float64
 16  light_sleep_count        92 non-null     float64
 17  light_sleep_minutes      92 non-null     float64
 18  light_sleep_30dayAvgMin  92 non-null     float64
 19  rem_sleep_count          92 non-null     float64
 20  rem_sleep_minutes        92 non-null     float64
 21  rem_sleep_30dayAvgMin    92 non-null     float64
 22  wake_count               92 non-null     float64
 23  wake_minutes             92 non-null     float64
 24  wake_30dayAvgMin         92 non-null     float64
dtypes: bool(1), float64(12), int64(9), object(3)
memory usage: 19.0+ KB